server {
    listen [::]:443 ssl;
    listen 443 ssl;

    # SSL Certificates
    ssl_certificate /etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    index index.php index.html;
    server_name {{ DOMAIN }};
    root /var/www/{{ DOMAIN }}/public;

    # Redirect HTTPS www to HTTPS non-www
    if ($host = www.{{ DOMAIN }}) {
        return 301 https://{{ DOMAIN }}$request_uri;
    }

    # Redirect {route?}/index.php to {route?}/
    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    include snippets/errors.conf;
    include snippets/run_php73.conf;
    include snippets/permission.conf;
    include snippets/cache.conf;
}

# Redirect all HTTP traffic to HTTPS non-www
server {
    listen 80;
    listen [::]:80;

    server_name {{ DOMAIN }};

    return 301 https://$host$request_uri;
}
