server {
    listen 80;
    listen [::]:80;

    index index.php index.html;
    server_name {{ DOMAIN }};
    root /var/www/{{ DOMAIN }}/public;

    # Redirect HTTPS www to HTTPS non-www
    if ($host = www.{{ DOMAIN }}) {
        return 301 http://{{ DOMAIN }}$request_uri;
    }

    # Redirect {route?}/index.php to {route?}/
    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    include snippets/errors.conf;
    include snippets/run_php73.conf;
    include snippets/permission.conf;
    include snippets/cache.conf;
}
